{% extends "base.html" %} {% load static %}


{% block content%}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">project_count</th>
        <th scope="col">Link</th>
        <th scope="col">Link</th>
        <th scope="col">Language</th>
      </tr>
    </thead>
    {% for post in droplets %} 

    <tbody>
        <tr>
            <th scope="row">1</th>

            
             <td>{{post.name}}</td>
             <td>{{post.blog}}</td>
             <!-- <td>{{post.bio}}</td> -->
            
             <td> {{post.email}}</td>
             <td> {{post.user_type}}</td>
            
            </tr>
        </tbody>
        {% endfor%}

      </table>
{% endblock content%}